h1{color:#ff6699;}
h2{color:#cc0099;}
p{color:#b3ffef;}
body{background-color:#80007f;}

.purple{color:indigo;}
#bold{color:pink;}
.background{background-color:#ccffff;}
ul li {
    display : inline-block;
} 
